.clearfix:after
  content " "
  display block
  height 0
  clear both
.modal
  display block
$wizardWidth = 868px
.wizard
  width wizardWidth
  overflow hidden
  &__view
    position relative
    left 0
    width $wizardWidth * 3
    overflow hidden
    transition left 1s
.workspaceForm, .userForm, .roleForm
  display inline-block
  vertical-align top
  width $wizardWidth
  &__item
    &__separator
      font-weight bold
    &__text-link span
      color #1a0dab
      cursor pointer
      &:hover
        text-decoration underline
  &__wrapper-hidden
    overflow hidden
    transition height 0.3s
.userForm
  &__backbtn
    margin 0 0 0 3px
  &__form
    display inline-block
    vertical-align top
    width 70%
  &__recap
    display inline-block
    vertical-align top
    width 30%
    &__nextbtn
      float right
      margin 15px 3px 0 0
    &__list__item
      cursor pointer
      &__delete
        float left
        position relative
        top 3px
        font-weight bold
        font-size 12px
        color red
      &__name
        float left
        margin-left 5px
$borderStyle = 1px solid #000
.roleForm__tab
  margin 0 auto
  text-align center
  th, td
    padding 3px 5px
    border-left $borderStyle
    border-right $borderStyle
  tr
    border-top $borderStyle
    border-bottom $borderStyle
