.clearfix:after
  content " "
  display block
  height 0
  clear both
.form-group
  margin-bottom 0px
  padding-bottom 15px
#workspace_manager .modal
  display block
$wizardWidth = 868px
.wizard
  width $wizardWidth
  overflow hidden
  &__view
    position relative
    left 0
    width ($wizardWidth * 3) + 30px // 30px for the right elevator which is hidden
    min-height 170px
    overflow-x hidden
    overflow-y scroll
    transition left 1s
.workspaceForm, .userForm, .recap
  display inline-block
  vertical-align top
  width $wizardWidth
  overflow hidden
  min-height 170px
  &__item
    &__separator
      font-weight bold
    &__text-link span
      color #1a0dab
      cursor pointer
      &:hover
        text-decoration underline
  &__wrapper-hidden
    overflow hidden
    &__picto
      width 25px
      margin-top 5px
  &__backbtn
    float left
    margin 15px 0 0 3px
    & i
      margin-right 5px
  &__nextbtn__btn
    float right
    margin 15px 3px 0 0
    & i
      margin-right 5px
.userForm
  &__searchUser
    position relative
    width 100%
  &__item
    .customCheckbox
      & > input:before
        top 5px
      &.checked > input:after
        top -12px
.generic-autocomplete
  position absolute
  width calc(100% - 30px)
  border 1px solid #aaa
  z-index 1
  &__item
    width 100%
    padding 2px 15px
    background-color #eee
    cursor pointer
    &:hover
      background-color #1a0dab
      color #fff

.reader
  color #1fdb11
.contributor
  color #759ac5
.content_manager
  color #ea983d
.workspace_manager
  color #f00
.roleForm
  max-height 300px
  padding 15px
  overflow-y auto
  &__backbtn
    @extends .userForm__backbtn
    margin-bottom 15px
  &__list
    width 100%
    th, td
      border-bottom 1px solid #ddd
    th
      max-width 170px
      padding 8px
      border-width 2px
    td
      padding 5px 10px
    &__role // classes bellow matchs ids of const ROLE_LISt (helper.js)
      &__selector
        position relative
        padding 5px 0px
        &__current
          display inline
          cursor pointer
          i
            margin-right 5px
        &__list
          display none
          position absolute
          top 25px
          padding-left 0
          border 1px solid #ddd
          border-radius 5px
          background-color #fff
          list-style none
          z-index 1
          & > li
            padding 4px 5px 4px 15px
            cursor pointer
            &:hover
              background-color #ccc
          &.visible
            display block
    &__notif
      &__label
        font-weight normal
        cursor pointer
        &__subscribed
          color #428BCA
        &__not-subscribed
          color #ccc
      &__checkbox
        display none
    &__delete button
      color #999
      font-size 17px
      &:hover
        color red
.recap
  &__title
    font-size 16px
    font-weight bold
  &__subtitle
    padding 10px 0 0 15px
    text-decoration underline
  &__nextbtn__btn
    padding 5px 20px
    font-size 14px
    &:hover > i.fa-gear
      transform rotate(100deg)
    i
      vertical-align bottom
      font-size 20px
      margin-right 10px
      &.fa-gear
        transition transform 0.3s
        transition-timing-function linear
  &__data
    &__item
      padding 5px 0 0 30px
      &__action, &__name, &__status
        display inline-block
        vertical-align top
        width auto
      &__action
        width 95px
        padding 0 15px 0 0
      &__name
        max-width 440px
      &__status
        float right
        position relative
        top -2px
        left -14px
