.clearfix:after
  content " "
  display block
  height 0
  clear both
.form-group
  margin-bottom 0px
  padding-bottom 15px
.customRadio
  width 100%
  margin 0
  line-height 35px
  cursor pointer
  & > input
    width 0px
    height 0px
    &:before
      content ''
      display block
      position relative
      top -13px
      left -8px
      width 16px
      height 16px
      border-radius 16px
      border 1px solid #aaa
      cursor pointer
  &.checked > input:after
    content ''
    display block
    position relative
    top -26px
    left -5px
    width 10px
    height 10px
    border-radius 10px
    background-color green
.customCheckbox
  width 100%
  margin 0
  line-height 35px
  cursor pointer
  & > input
    width 0px
    height 0px
    &:before
      content ''
      display block
      position relative
      top -13px
      left -8px
      width 16px
      height 16px
      border-radius 2px
      border 1px solid #aaa
      cursor pointer
  &.checked > input:after
    content 'L'
    display block
    position relative
    top -30px
    left -2px
    width 10px
    height 10px
    color green
    transform scaleX(-1) rotate(-45deg)
    font-size 16px
    font-weight bold
#workspace_manager .modal
  display block
$wizardWidth = 868px
.wizard
  width $wizardWidth
  overflow hidden
  &__view
    position relative
    left 0
    width ($wizardWidth * 3) + 30px // 30px for the right elevator which is hidden
    min-height 170px
    max-height 400px
    overflow-x hidden
    overflow-y scroll
    transition left 1s
.workspaceForm, .userForm, .recap
  display inline-block
  vertical-align top
  width $wizardWidth
  overflow hidden
  min-height 170px
  &__item
    &__separator
      font-weight bold
    &__text-link span
      color #1a0dab
      cursor pointer
      &:hover
        text-decoration underline
  &__wrapper-hidden
    overflow hidden
    // transition height 0.3s
    &__picto
      width 25px
      margin-top 5px
  &__nextbtn
    text-align right
    &__btn
      margin 15px 3px 0 0
.userForm
  &__backbtn
    margin 0 0 0 3px
  &__searchUser
    position relative
    width 100%
  &__item
    .customCheckbox
      & > input:before
        top 5px
      &.checked > input:after
        top -12px
.generic-autocomplete
  position absolute
  width calc(100% - 30px)
  border 1px solid #aaa
  z-index 1
  &__item
    width 100%
    padding 2px 15px
    background-color #eee
    cursor pointer
    &:hover
      background-color #1a0dab
      color #fff
$borderStyle = 1px solid #ccc
$btnRemoveGeneric
  position absolute
  top 50%
  transform translateY(-50%)
  left 30px
  width 24px
  height 24px
.roleForm
  &__backbtn
    @extends .userForm__backbtn
    margin-bottom 15px
  &__tab
    margin 0 auto
    text-align center
    &__removeuser
      @extends $btnRemoveGeneric
      border 1px solid #ccc
      border-radius 14px
      color red
      font-weight bold
      text-align center
      cursor pointer
      transition left 0.15s
      &__wrapper
        @extends $btnRemoveGeneric
        left -30px
        width 30px
        overflow hidden
    th, td
      border-left $borderStyle
      border-right $borderStyle
      vertical-align middle
    th
      max-width 170px
      padding 8px
      text-align center
      &:nth-child(1)
        border-top 1px solid #fff
        border-left 1px solid #fff
    td:nth-child(1)
      position relative
      max-width 160px
      padding 5px 8px
    tr
      border-top $borderStyle
      border-bottom $borderStyle
      &:hover
        .roleForm__tab__removeuser
          left 0px
.recap
  &__title
    font-size 16px
    font-weight bold
  &__subtitle
    padding 10px 0 0 15px
    text-decoration underline
  &__nextbtn__btn
    padding 5px 20px
    font-size 14px
    i
      vertical-align bottom
      font-size 20px
      margin-right 10px
      &.fa-gear
        transition transform 0.3s
        transition-timing-function linear
    &:hover > i
      transform rotate(100deg)
  &__data
    &__item
      padding 5px 0 0 30px
      &__action, &__name, &__status
        display inline-block
        vertical-align top
        width auto
      &__action
        width 95px
        padding 0 15px 0 0
      &__name
        max-width 440px
      &__status
        float right
        position relative
        top -2px
        left -14px
